<!DOCTYPE html>
{% include 'blog/base.html' %}
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <div id="title">
        {% block blog_title %}
            <title> Welcome to Surajit's Blog  </title>

        {% endblock blog_title %}
    </div>
    {{ form.media }}

</head>

<body>
<div id="header">
    {% block header %}
        {% include 'blog/header.html' %}

    {% endblock header %}
</div>

<div id="subscription">
    {% block subscription %}
    {% include 'blog/subscription.html' %}
    {% endblock %}
</div>
<div id="main">
    {% block main %}

    {% endblock %}
</div>

<div id="footer">
    {% block blog_footer %}
{% include 'blog/footer.html' %}
    {% endblock blog_footer %}
</div>


</body>
</html>
