{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column" style="flex-grow: 0;">
        <div class="profile-section pt-3 pt-lg-0">
          <a href="{% url 'blog:post_category_list' category='project' %}"> <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'blog/assets/images/profile.png' %}" alt="image"></a>

            <div class="bio mb-3"><p class="h5" style="line-height: 25px">Hi, my name is Raaz. I am a software engineer and a fitness enthusiast. Love building solutions
            that are fun and challenging.</p><br><a href="{% url 'blog:post_category_list' category='project' %}">Find out more about me</a></div><!--//bio-->
            <ul class="social-list list-inline py-3 mx-auto">
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/surajit-das-2a704165/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>

            </ul><!--//social-list-->
            <ul class="list-inline py-3 mx-auto">
               <li class="nav-item {{ home_nav }}">
                <a style="color:#5bc3d5;"  href="{% url 'blog:post_category_list' category='project' %}">home <span
                        class="sr-only">(current)</span></a>
            </li>
            {% if request.user.username == 'surajit001' %}
            <li class="nav-item {{ post_nav }}">
                <a style="color:#5bc3d5;"  href='{% url "blog:create_post" %}'>Post</a>
            </li>
            {% endif %}

          {% for c in category %}
            <li class="nav-item {{ post_django }}">
                <a class="nav-link" href='{{ c.url }}'>{{ c.name }}</a>
            </li>
        {% endfor %}

            </ul><!--//social-list-->
            <hr>
        </div><!--//profile-section-->


        <div class="my-2 my-md-3">
            <a class="btn btn-primary" href="" target="_blank">Get in Touch</a>
        </div>
    </div>
</nav>



