{% extends 'blog/index.html' %}
{% load static %}
{% block main %}

    <div class="main-wrapper">
        <section class="blog-list px-3 py-5 p-md-5">

            <div class="container">
                <div class="item mb-5">
                            {% for post in post %}
                                <div class="row" style="margin-bottom: 1em;">
                                <div class="col-md-3 media">
                                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" width="110px" height="110px"
                             src="{{ post.image.url }}" alt="image">
                                </div>

                                <div class="col-md-9 media-body">
                                    <p class="h3"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                                     {% autoescape off %}
                                   <div class="meta mb-1"><span class="date">Published 2 days ago</span><span class="time">5 min read</span><span
                                class="comment"><a href="#">8 comments</a></span></div>
                            <p class="lead">
                                {{ post.description|truncatewords:"100"|linebreaks }}
                    <a class="more-link" href="{% url 'blog:other_post_detail' other_pk=post.id %}"><p class="h6">Read more &rarr;</p></a>

                            </p>
                        {% endautoescape %}
                                </div>
                                    {% if request.user == post.user %}

                                  <div class="row">
            <div class="col-md-3">
              <nav class="blog-nav nav nav-justified my-5" style="width: 50%">
                <a class="nav-link-next nav-item nav-link rounded" href='{% url "blog:post_delete" pk=post.id %}'>
                    <i class="fa fa-trash"></i>
                    Delete</a>
            </nav>

            </div> &nbsp; &nbsp;
            <div class="col-md-3">
               <nav class="blog-nav nav nav-justified my-5" style="width:50%">
                <a class="nav-link-next nav-item nav-link rounded" href='{% url "blog:post_update" pk=post.id %}'>
                    <i class="fas fa-edit"></i>
                    Edit</a>
            </nav>
            </div>
        </div>
                                {% else %}
                                {% endif %}
                                </div>

                    {% endfor %}


                    </div><!--//media-body-->
            </div><!--//item---->
            <div class="item">
                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                         src="{% static 'blog/assets/images/blog/blog-post-thumb-6.jpg' %}" alt="image">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="blog-post.html">About Remote Working</a></h3>
                        <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">2 min read</span><span
                                class="comment"><a href="#">1 comment</a></span></div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus. Donec quam felis, ultricies...
                        </div>
                        <a class="more-link" href="blog-post.html">Read more &rarr;</a>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->

           <nav class="blog-nav nav nav-justified my-5">

                <a class="nav-link-next nav-item nav-link rounded" href="{% url 'blog:blog_python' %}">Back<i
                        class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            </nav>
        </section>
    </div>


    <script type="text/javascript">



    </script>

{% endblock %}